@model IEnumerable<WendlandtVentas.Web.Models.ClientViewModels.ClientViewModel>

@{
    ViewData["Title"] = "Clientes";
}

<h4>
    @ViewData["Title"]
    <br />
    <small class="text-muted">Catálogo de clientes.</small>
</h4>
<section class="mt-3">
    <ul class="list-inline">
        <li>
            <a href="#addModal" class="btn btn-primary btn-modal-action"><i class="fa fa-plus"></i> Agregar</a>
            <a href="#importModal" class="btn btn-primary btn-modal-action"><i class="fa fa-plus"></i> Importar</a>
            <a href="~/resources/template.xlsx" target="_blank" class="btn btn-success moderno  "><i class="fa fa-file-excel"></i> Descargar template</a>
        </li>
    </ul>
</section>

<!-- Controles de las pestañas -->
<ul class="nav nav-tabs" id="clientTabs" role="tablist">
    <!-- Clientes -->
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients" aria-selected="true">Clientes</a>
    </li>
    <!-- Distribuidores -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="distributors-tab" data-toggle="tab" href="#distributors" role="tab" aria-controls="distributors" aria-selected="false">Distribuidores</a>
    </li>
    <!-- Mayoristas -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="wholesalers-tab" data-toggle="tab" href="#wholesalers" role="tab" aria-controls="wholesalers" aria-selected="false">Mayoristas</a>
    </li>
    <!-- Auto Servicios -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="autoservices-tab" data-toggle="tab" href="#autoservices" role="tab" aria-controls="autoservices" aria-selected="false">Auto servicios</a>
    </li>
    <!-- Tasting Rooms -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tastingroom-tab" data-toggle="tab" href="#tastingroom" role="tab" aria-controls="tastingroom" aria-selected="false">Tasting Rooms</a>
    </li>
     <li class="nav-item" role="presentation">
        <a class="nav-link" id="almacen-tab" data-toggle="tab" href="#almacen" role="tab" aria-controls="almacen" aria-selected="false">Almacén</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="maquila-tab" data-toggle="tab" href="#maquila" role="tab" aria-controls="maquila" aria-selected="false">Maquila</a>
    </li>

</ul>

<!-- Contenido de las pestañas -->
<div class="tab-content" id="clientTabsContent">
    <!-- Pestaña de Clientes -->
    <div class="tab-pane fade show active" id="clients" role="tabpanel" aria-labelledby="clients-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="ClientsGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageCount="50"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetClientsData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Classification", "Channel", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <!-- Pestaña de Distribuidores -->
    <div class="tab-pane fade" id="distributors" role="tabpanel" aria-labelledby="distributors-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="DistributorsGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageSize="50" pageSizes="@(new[] {"50", "100", "200"})"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetDistributorsData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Channel", "Classification", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <!-- Pestaña de Mayoristas -->
    <div class="tab-pane fade" id="wholesalers" role="tabpanel" aria-labelledby="wholesalers-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="WholesalersGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageSize="50" pageSizes="@(new[] {"50", "100", "200"})"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetWholesalerData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Channel", "Classification", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>


    <!-- Pestaña de Auto Servicios -->
    <div class="tab-pane fade" id="autoservices" role="tabpanel" aria-labelledby="autoservices-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="AutoServicessGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageSize="50" pageSizes="@(new[] {"50", "100", "200"})"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetAutoServicesData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Channel", "Classification", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <!-- Pestaña de Tasting Rooms -->
    <div class="tab-pane fade" id="tastingroom" role="tabpanel" aria-labelledby="tastingroom-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="TastingRoomsGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageSize="50" pageSizes="@(new[] {"50", "100", "200"})"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetTastingRoomData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Channel", "Classification", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <!--Tab de almacen-->
    <div class="tab-pane fade " id="almacen" role="tabpanel" aria-labelledby="almacen-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="AlmacenGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageCount="50"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetAlmacenData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Classification", "Channel", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <!--Tab de Maquila-->
    <div class="tab-pane fade" id="maquila" role="tabpanel" aria-labelledby="maquila-tab">
        <div class="datatable-container mt-3">
            <ejs-grid id="MaquilaGrid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
                <e-grid-pagesettings pageCount="50"></e-grid-pagesettings>
                <e-data-manager url="@Url.Action("GetMaquilaData")" adaptor="UrlAdaptor"></e-data-manager>
                <e-grid-searchsettings fields="@(new[] { "Name", "Classification", "Channel", "State", "RFC", "City", "CreationDate", "PayType" })"></e-grid-searchsettings>
                <e-grid-columns>
                    <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
                    <e-grid-column field="classification" headerText="Clasificación" width="200" template="#classificationTemplate"></e-grid-column>
                    <e-grid-column field="channel" headerText="Canal" width="200"></e-grid-column>
                    <e-grid-column field="state" headerText="Estado" width="200"></e-grid-column>
                    <e-grid-column field="payType" headerText="Forma de pago" width="200"></e-grid-column>
                    <e-grid-column field="rfc" headerText="RFC" width="200"></e-grid-column>
                    <e-grid-column field="city" headerText="Ciudad" width="200"></e-grid-column>
                    <e-grid-column field="creditDays" headerText="Días de crédito" width="200" textAlign="Center"></e-grid-column>
                    <e-grid-column field="seller" headerText="Vendedor" width="200"></e-grid-column>
                    <e-grid-column field="creationDate" headerText="Fecha de alta" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" width="200"></e-grid-column>
                    <e-grid-column field="addresses" headerText="Direcciones" template="#addressesButtons" width="200"></e-grid-column>
                    <e-grid-column field="contacts" headerText="Contactos" template="#contactsButtons" width="200"></e-grid-column>
                    <e-grid-column field="comments" headerText="Comentarios" template="#commentsButtons" width="200"></e-grid-column>
                    <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

</div>
<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }
</style>
@section Modals {
    <div class="modal modal-focus-first" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Add")"></div>
    <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Edit")"></div>
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Delete")"></div>
    <div class="modal" id="importModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("UploadXlsxView")"></div>

    <div class="modal" id="addContact" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("AddContactView")"></div>
    <div class="modal" id="viewContacts" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("ContactsView")"></div>
    <div class="modal" id="editContact" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("EditContactView")"></div>
    <div class="modal" id="deleteContact" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("DeleteContactView")"></div>

    <div class="modal" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("AddAddressView")"></div>
    <div class="modal" id="viewAddresses" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("AddressesView")"></div>
    <div class="modal" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("EditAddressView")"></div>
    <div class="modal" id="deleteAddress" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("DeleteAddressView")"></div>

    <div class="modal" id="addComments" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("AddCommentsView")"></div>
    <div class="modal" id="viewComments" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("CommentsView")"></div>
    <div class="modal" id="editComments" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("EditCommentsView")"></div>
    <div class="modal" id="deleteComments" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("DeleteCommentsView")"></div>


}

@section Scripts {
    <script id="actionButtons" type="text/x-template">
        <div>
            <a href="#editModal" data-id="${id}" title="Editar" class="tip btn btn-sm btn-light mr-2 btn-modal-action"><i class="fa fa-fw fa-edit"></i></a>
            <a href="#deleteModal" data-id="${id}" title="Eliminar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-trash"></i></a>
            
        </div>
    </script>
    <script id="contactsButtons" type="text/x-template">
        <div>
            <a href="#addContact" data-id="${id}" title="Agregar contactos" class="tip btn btn-sm btn-light btn-modal-action"> ${contacts} <i class="fa fa-fw fa-plus"></i></a>
            <a href="#viewContacts" data-id="${id}" title="Ver contactos" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-id-card"></i></a>
        </div>
    </script>
    <script id="contactActionButtons" type="text/x-template">
        <div>
            <a href="#editContact" data-id="${id}" title="Editar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-edit"></i></a>
            <a href="#deleteContact" data-id="${id}" title="Eliminar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-trash"></i></a>
        </div>
    </script>
    <script id="addressesButtons" type="text/x-template">
        <div>
            <a href="#addAddress" data-id="${id}" title="Agregar dirección" class="tip btn btn-sm btn-light btn-modal-action"> ${addresses} <i class="fa fa-fw fa-plus"></i></a>
            <a href="#viewAddresses" data-id="${id}" title="Ver direcciones" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-map-marked-alt"></i></a>
        </div>
    </script>
    <script id="addressActionButtons" type="text/x-template">
        <div>
            <a href="#editAddress" data-id="${id}" title="Editar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-edit"></i></a>
            <a href="#deleteAddress" data-id="${id}" title="Eliminar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-trash"></i></a>
        </div>
    </script>

    <!--Agregamos para comentarios-->

    <script id="commentsButtons" type="text/x-template">
        <div>
            <a href="#addComments" data-id="${id}" title="Agregar Comentario" class="tip btn btn-sm btn-light btn-modal-action ${AddCommentButtonClass}">
                ${comments} <i class="fa fa-fw fa-plus"></i>
            </a>
            <a href="#viewComments" data-id="${id}" title="Ver Comentarios" class="tip btn btn-sm btn-light btn-modal-action">
                <i class="fa fa-comments"></i>
            </a>
        </div>
    </script>
    <script id="commentsActionButtons" type="text/x-template">
        <div>
            <a href="#editComments" data-id="${id}" title="Editar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-edit"></i></a>
            <a href="#deleteComments" data-id="${id}" title="Eliminar" class="tip btn btn-sm btn-light btn-modal-action"><i class="fa fa-fw fa-trash"></i></a>
        </div>
    </script>
    <script type="text/x-template" id="classificationTemplate">
        ${if(classification == "Oro")}
            <i class="fas fa-circle" style="color:gold"></i>
        ${/if}
        ${if(classification == "Plata")}
            <i class="fas fa-circle" style="color:silver"></i>
        ${/if}
        ${if(classification == "Bronce")}
            <i class="fas fa-circle" style="color:saddlebrown"></i>
        ${/if}
         ${if(classification == "Gold")}
            <i class="fas fa-circle" style="color:gold"></i>
        ${/if}
        ${if(classification == "Silver")}
            <i class="fas fa-circle" style="color:silver"></i>
        ${/if}
        ${if(classification == "Bronze")}
            <i class="fas fa-circle" style="color:saddlebrown"></i>
        ${/if}

        <span class="ml-1">
            ${classification}
        </span>
    </script>


}


