@using WendlandtVentas.Core.Models.OrderViewModels
@using WendlandtVentas.Core.Entities.Enums
@using WendlandtVentas.Web.Extensions;

@model OrderDetailsViewModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addModal-label">@ViewData["ModalTitle"]</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <a href="/Order/PrintOrder?id=@Model.Id" class="btn btn-secondary"><i class="fa fa-file-pdf mr-2"></i>Exportar PDF</a>

            <div class="table-responsive mt-2">
                <table class="table table-sm table-bordered ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Fecha de creación</th>
                            <th>Por</th>
                            @if(Model.ProntoPago)
                            {
                                <th>Pronto Pago</th>
                            }
                            <th>Remisión</th>
                            @if (Model.TypeEnum == OrderType.Invoice)
                            {
                                <th>Factura</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@if (Model.OrderClassification == 2)
                            {
                                @* Si es Wellen, mostramos su secuencia propia con prefijo *@
                                @Model.OrderClassificationCode
                            }
                            else
                            {
                                @* Si es Cerveza, mantenemos el ID original *@
                                @Model.Id
                            }
                            </td>
                            <td><text class="text-info"><b>@Model.Type</b></text></td>
                            <td>@Model.CreateDate.ToString("dd/MM/yyyy")</td>
                            <td>@Model.User</td>
                            @if (Model.ProntoPago)
                            {
                                <td>Sí</td>
                            }
                            <td>@Model.RemissionCode</td>
                            @if (Model.TypeEnum == OrderType.Invoice)
                            {
                                <td>@Model.InvoiceCode</td>
                            }
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-bordered ">
                    <thead>
                        <tr>
                            <th>Promesa de pago</th>
                            <th>Fecha de pago</th>
                            @if (Model.TypeEnum == OrderType.Invoice)
                            {
                                <th><text class="float-right">Subtotal</text></th>
                                <th><text class="float-right">Importe base</text></th>
                                <th><text class="float-right">Distribución</text></th>
                                <th><text class="float-right">IEPS</text></th>
                                <th><text class="float-right">IVA</text></th>
                            }
                            <th><text class="float-right">Total</text></th>
                             @if (Model.PrecioEspecial)
                                {
                                <th>
                                    <text class="float-right">Monto Real</text>
                                </th>
                    
                                }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.PaymentPromiseDate</td>
                            <td>@Model.PaymentDate</td>
                            @if (Model.TypeEnum == OrderType.Invoice)
                            {
                                <td><text class="float-right">@Model.SubTotal</text></td>
                                <td><text class="float-right">@Model.BaseAmount</text></td>
                                <td><text class="float-right">@Model.Distribution</text></td>
                                <td><text class="float-right">@Model.IEPS</text></td>
                                <td><text class="float-right">@Model.IVA</text></td>
                            }
                            <td>
                                
                                    @if (Model.PrecioEspecial)
                                    {
                                        <s><b>@Model.Total</b></s>
                                    }
                                    else
                                    {
                                    <b><text class="float-right text-success">@Model.Total</text></b>
                                    }
                                
                            </td>
                            @if (Model.PrecioEspecial)
                            {
                                <td>
                                    <b><text class="float-right text-success">@Model.RealAmount?.ToString("C")</text></b>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <dl>
                @if (!string.IsNullOrEmpty(Model.Comment))
                {
                    <dt>Comentario</dt>
                    <dd>@Model.Comment</dd>
                }
                @if (!string.IsNullOrEmpty(Model.CollectionComment))
                {
                    <dt>Comentario de cobranza</dt>
                    <dd>@Model.CollectionComment</dd>
                }
                @if (Model.Weight > 0)
                {
                    <dt>Peso neto</dt>
                    <dd>@Model.Weight Kg</dd>
                }
            </dl>
            <h5 class="mt-4 mb-2">Información de entrega</h5>
            <div class="table-responsive">
                <table class="table table-sm table-bordered ">
                    <thead>
                        <tr>
                            <th>Día de entrega</th>
                            <th>Lugar</th>
                            <th>Ubicación</th>
                            @if (!string.IsNullOrEmpty(Model.Address.DeliverySpecification))
                            {
                                <th>Indicaciones de entrega</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Address.DeliveryDay</td>
                            <td>@Model.Address.Name</td>
                            <td>@Model.Address.AddressLocation</td>
                            @if (!string.IsNullOrEmpty(Model.Address.DeliverySpecification))
                            {
                                <td>@Model.Address.DeliverySpecification</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="mt-4 mb-2">Información del cliente</h5>
            <div class="table-responsive">
                <table class="table table-sm table-bordered ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Clasificación</th>
                            <th>Tipo de pago</th>
                            <th>Canal</th>
                            <th>Estado</th>
                            <th>Comentarios del cliente:</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Client.Name</td>
                            <td>@Model.Client.Classification</td>
                            <td>@Model.Client.PayType</td>
                            <td>@Model.Client.Channel</td>
                            <td>@Model.Client.State</td>
                            <td>
                                @if (Model.Client.Comments != null && Model.Client.Comments.Any())
                                {
                                    @string.Join(", ", Model.Client.Comments.Select(c => c.Comments))
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="mt-4 mb-2">Información de productos</h5>
            <div class="table-responsive">
                <table class="table table-sm table-bordered ">
                    <tr>
                        <th>Nombre</th>
                        <th><text class="float-right">Cantidad</text></th>
                        <th><text class="float-right">Precio</text></th>
                       
                        <th><text class="float-right">Subtotal</text></th>
                       
                    </tr>
                   @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.PresentationLiters</td>
                            <td><text class="float-right">@item.Quantity</text></td>
                            <!--<td><text class="float-right">item.Price.FormatCurrency()</text></td>-->
                            <td><text class="float-right">@item.Price.FormatCurrency()</text></td>
                            <td><text class="float-right">@((item.Quantity * item.Price).FormatCurrency())</text></td>
                            
                        </tr>
                    }
                    <tr>
                    <td><b>TOTAL</b></td>
                    <td><text class="float-right">@Model.Products.Sum(c => c.Quantity)</text></td>
                            <td></td>

                        <td><text class="float-right"><b>@Model.SubTotal</b></text></td>
                </tr>
                </table>
            </div>
            @if (Model.Promotions.Any())
            {
                <h5 class="mt-4 mb-2">Información de promociones</h5>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered ">
                        <tr>
                            <th>Cantidad</th>
                            <th>Promocion</th>
                            <th>Productos gratis</th>
                            <th><text class="float-right">Descuento</text></th>
                        </tr>
                        @foreach (var promotionGroup in Model.Promotions.GroupBy(c => c.Id))
                        {
                            var promotion = promotionGroup.First();
                            <tr>
                                <td><text class="float-right">@promotionGroup.Count()</text></td>
                                <td>@promotion.Name</td>
                                <td>
                                    @foreach (var product in promotionGroup.SelectMany(c => c.Products))
                                    {
                                        <label>@product.Quantity - @product.Name</label>
                                    }
                                </td>
                                <td><text class="float-right">@promotionGroup.Sum(c => c.DiscountMoney).FormatCurrency()</text></td>
                            </tr>
                        }
                        
                        <tr>
                            <td colspan="2"><b>TOTAL</b></td>
                            @*<td><text class="float-right">@Model.Products.Sum(c => c.Quantity)</text></td>*@
                            <td></td>
                            <td><text class="float-right"><b>@Model.Promotions.Sum(c => c.DiscountMoney).FormatCurrency()</b></text></td>
                        </tr>
                       
                    </table>
                   
                </div>
            }
                <h5 class="mt-4 mb-2">BITÁCORA</h5>
                 <div class="table-responsive">
                    <table class="table table-sm table-bordered ">
                        <tr>
                            <th>Última modificación</th>
                            <th>Fecha</th>
                            <th>Acción</th>
                        </tr>
                    @foreach (var entry in Model.BitacoraEntries)
                    {
                        <tr>
                            <td>@entry.Usuario</td>
                            <td>@entry.FechaModificacion.ToString("g")</td> <!-- Formato deseado aquí -->
                            <td>@entry.Accion</td>
                        </tr>
                    }
                    </table>
                 </div>
            
        </div>
    </div>
</div>