@using WendlandtVentas.Core.Entities.Enums
@{
    ViewData["Title"] = "Productos";
    // Si no hay id, por defecto es 1 (Cerveza)
    var classificationId = Context.Request.Query["classificationId"].ToString();
    if (string.IsNullOrEmpty(classificationId)) { classificationId = "1"; }

    var gridUrl = Url.Action("GetData", new { classificationId = classificationId });
}
<h4>
    @ViewData["Title"]
    <br />
    <small class="text-muted">Catálogo de productos.</small>
</h4>

@* --- NAVEGACIÓN DE CATEGORÍAS --- *@
<ul class="nav nav-tabs mt-4" role="tablist">
    <li class="nav-item">
        <a class="nav-link @(classificationId == "1" ? "active" : "")"
           href="@Url.Action("Index", new { classificationId = 1 })">
            <i class="fa fa-beer"></i> Cerveza
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(classificationId == "2" ? "active" : "")"
           href="@Url.Action("Index", new { classificationId = 2 })">
            <i class="fa fa-tint"></i> Wellen
        </a>
    </li>
    @* --- NUEVA PESTAÑA DE PAQUETES --- *@
    <li class="nav-item">
        <a class="nav-link @(classificationId == "4" ? "active" : "")"
           href="@Url.Action("Index", new { classificationId = 4 })">
            <i class="fa fa-cubes"></i> Paquetes
        </a>
    </li>
    @if (User.IsInRole("Administrator") || User.IsInRole("Storekeeper"))
    {
        <li class="nav-item">
            <a class="nav-link @(classificationId == "3" ? "active" : "") text-danger"
               href="@Url.Action("Index", new { classificationId = 3 })">
                <i class="fa fa-trash"></i> Desactivados
            </a>
        </li>
    }
</ul>

@* El botón Agregar aparecerá para Cerveza, Wellen y Paquetes (ID 1, 2 y 4) *@
@if (classificationId != "3")
{
    <section class="mt-3">
        <ul class="list-inline">
            <li>
                <a href="#addModal" data-classification="@classificationId" class="btn btn-primary btn-modal-action">
                    <i class="fa fa-plus"></i> Agregar
                </a>
            </li>
        </ul>
    </section>
}

<div class="datatable-container">
    <ejs-grid id="Grid" class="datatable" locale="es-MX" allowPaging="true" allowSorting="true" toolbar="@(new List<string>() { "Search" })">
        <e-grid-pagesettings pageCount="25"></e-grid-pagesettings>
        <e-data-manager url="@Url.Action("GetData", new { classificationId = classificationId })"
                        adaptor="UrlAdaptor">
        </e-data-manager>
        <e-grid-searchsettings fields="@(new[] { "Name" })"></e-grid-searchsettings>
        <e-grid-columns>
            @* --- Columnas siempre visibles --- *@
            <e-grid-column field="name" headerText="Nombre" width="300"></e-grid-column>
            <e-grid-column field="distinction" headerText="Distinción" width="150"></e-grid-column>
            <e-grid-column field="season" headerText="Temporada" width="150"></e-grid-column>

            @* --- Columnas solo para PRODUCTOS NORMALES (Cerveza y Wellen) --- *@
            @if (classificationId != "4")
            {
                <e-grid-column template="#barrelPet20" headerText="Barril Pet 20L" textAlign="Right" width="220"></e-grid-column>
                <e-grid-column template="#barrelInox20" headerText="Barril Inox 20L" textAlign="Right" width="220"></e-grid-column>
                <e-grid-column template="#barrelInox60" headerText="Barril Inox 60L" textAlign="Right" width="220"></e-grid-column>
                <e-grid-column template="#bottle" headerText="Botella 0.355L" textAlign="Right" width="220"></e-grid-column>
                <e-grid-column template="#can" headerText="Lata 0.355L" textAlign="Right" width="220"></e-grid-column>
            }

            @* --- Columnas solo para PAQUETES --- *@
            @if (classificationId == "4")
            {
                <e-grid-column template="#botelladocepack" headerText="Precio 12-Pack" textAlign="Right" width="250"></e-grid-column>
                <e-grid-column template="#smallcansix" headerText="Precio 6-Pack" textAlign="Right" width="250"></e-grid-column>
                @* Podríamos agregar una columna que diga "Unidades" si lo necesitas *@
            }

            <e-grid-column headerText="" width="130" template="#actionButtons" textAlign="Right" disableHtmlEncode="false"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

@section Modals{
    <div class="modal modal-focus-first" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Add")"></div>
    <div class="modal modal-focus-first" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Edit")"></div>

    @* Solo Administradores y Almacenistas pueden borrar o restaurar *@
    @if (User.IsInRole("Administrator") || User.IsInRole("Storekeeper"))
    {
        <div class="modal modal-focus-first" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Delete")"></div>
        <div class="modal modal-focus-first" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="addModal-label" data-url="@Url.Action("Restore")"></div>
    }
    
}
@section Scripts{
    <script id="tasting" type="text/x-template">
        <div>
            ${if(tasting != "")}
            <span>${tasting} MXN &bull; ${tastingUsd} USD &bull; ${tastingWeight} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    <script id="barrelPet20" type="text/x-template">
        <div>
            ${if(priceBarrelPet20 != "")}
            <span>${priceBarrelPet20} MXN &bull; ${priceUsdBarrelPet20} USD &bull; ${weightBarrelPet20} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    @*<script id="barrelPet30" type="text/x-template">
            <div>
                ${if(priceBarrelPet30 != "")}
                <span>${priceBarrelPet30} MXN &bull; ${priceUsdBarrelPet30} USD &bull; ${weightBarrelPet30} KG</span>
                ${else}
                <span class="text-secondary"><b>-</b></span>
                ${/if}
            </div>
        </script>*@
    <script id="barrelInox20" type="text/x-template">
        <div>
            ${if(priceBarrelInox20 != "")}
            <span>${priceBarrelInox20} MXN &bull; ${priceUsdBarrelInox20} USD &bull; ${weightBarrelInox20} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    @*<script id="barrelInox30" type="text/x-template">
            <div>
                ${if(priceBarrelInox30 != "")}
                <span>${priceBarrelInox30} MXN &bull; ${priceUsdBarrelInox30} USD &bull; ${weightBarrelInox30} KG</span>
                ${else}
                <span class="text-secondary"><b>-</b></span>
                ${/if}
            </div>
        </script>*@
    <script id="barrelInox60" type="text/x-template">
        <div>
            ${if(priceBarrelInox60 != "")}
            <span>${priceBarrelInox60} MXN &bull; ${priceUsdBarrelInox60} USD &bull; ${weightBarrelInox60} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    <script id="bottle" type="text/x-template">
        <div>
            ${if(priceBottle != "")}
            <span>${priceBottle} MXN &bull; ${priceUsdBottle} USD &bull; ${weightBottle} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    <script id="can" type="text/x-template">
        <div>
            ${if(priceCan != "")}
            <span>${priceCan} MXN &bull; ${priceUsdCan} USD &bull; ${weightCan} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    <!--Agregamos el script para obtener los datos del doce pack-->
     <script id="botelladocepack" type="text/x-template">
        <div>
             ${if(priceBotellaDoce !== "undefined" && priceBotellaDoce !== "")}
            <span>${priceBotellaDoce} MXN &bull; ${priceUsdBotellaDoce} USD &bull; ${weightBotellaDoce} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>

    <!--Agregamos el script para obtener los datos del small six pack-->
    <script id="smallcansix" type="text/x-template">
        <div>
             ${if(priceSmallCanSix !== "undefined" && priceSmallCanSix !== "")}
                 <span>${priceSmallCanSix} MXN &bull; ${priceUsdSmallCanSix} USD &bull; ${weightSmallCanSix} KG</span>
            ${else}
            <span class="text-secondary"><b>-</b></span>
            ${/if}
        </div>
    </script>
    
    <script id="actionButtons" type="text/x-template">
        <div>
            ${if(isDeleted)} @* Usamos minúscula inicial (camelCase) *@
                @if (User.IsInRole("Administrator") || User.IsInRole("Storekeeper"))
                {
                        <a href="#restoreModal" data-id="${id}" title="Restaurar" class="tip btn btn-sm btn-success btn-modal-action">
                            <i class="fa fa-fw fa-undo"></i>
                        </a>
                }
            ${else}
                <a href="#editModal" data-id="${id}" title="Editar" class="tip btn btn-sm btn-light mr-2 btn-modal-action">
                    <i class="fa fa-fw fa-edit"></i>
                </a>

                @if (User.IsInRole("Administrator") || User.IsInRole("Storekeeper"))
                {
                        <a href="#deleteModal" data-id="${id}" title="Eliminar" class="tip btn btn-sm btn-light btn-modal-action">
                            <i class="fa fa-fw fa-trash"></i>
                        </a>
                }
            ${/if}
        </div>
    </script>


    <script>
        var $modal = $('#addModal, #editModal');

        $('#addModal').on('show.coreui.modal', function () {
            $('.presentation-check').click(function () {
                var container = $(this).closest('.presentations');
                var presentations = $(container).find('.presentation-check');

                presentations.each(function () {
                    var id = $(this).val();
                    var $priceInput = $('.price-' + id);
                    var $priceUsdInput = $('.priceUsd-' + id);
                    var $weightInput = $('.weight-' + id);

                    if ($(this).is(':checked')) {
                        $priceInput.prop('disabled', false);
                        $priceUsdInput.prop('disabled', false);
                        $weightInput.prop('disabled', false);
                    } else {
                        $priceInput.prop('disabled', true);
                        $priceInput.val('');
                        $priceUsdInput.prop('disabled', true);
                        $priceUsdInput.val('');
                        $weightInput.prop('disabled', true);
                        $weightInput.val('');
                    }
                });
                $modal.find(".modal-errors").html("");
            });
        });

        //Se actua en este evento porque ocurren conflictos al traerse información de los modales si se lleno primero un addModal o un editModal en el contrario
        //$('#addModal').on('hidden.coreui.modal', function () {
        //    $('#addModal').empty();
        //});

        $('#editModal').on('show.coreui.modal', function () {
            $('.presentation-check').click(function () {
                var container = $(this).closest('.presentations');
                var presentations = $(container).find('.presentation-check');

                presentations.each(function () {
                    var id = $(this).val();
                    var $priceInput = $('.price-' + id);
                    var $priceUsdInput = $('.priceUsd-' + id);
                    var $weightInput = $('.weight-' + id);

                    if ($(this).is(':checked')) {
                        $priceInput.prop('disabled', false);
                        $priceUsdInput.prop('disabled', false);
                        $weightInput.prop('disabled', false);
                    } else {
                        $priceInput.prop('disabled', true);
                        $priceInput.val('');
                        $priceUsdInput.prop('disabled', true);
                        $priceUsdInput.val('');
                        $weightInput.prop('disabled', true);
                        $weightInput.val('');
                    }
                });
                $modal.find(".modal-errors").html("");
            });
        });

        //Se actua en este evento porque ocurren conflictos al traerse información de los modales si se lleno primero un addModal o un editModal en el contrario
        //$('#editModal').on('hidden.coreui.modal', function () {
        //    $('#editModal').empty();
        //});

        $modal.on('submit', '#form-product',
            function (e) {
                e.preventDefault();
                monoloading("show");
                const $form = $(this);
                var $action = $(this).data('action');
                var id = $form.find("#Id").val();
                var name = $form.find("#Name").val();
                var distinction = $form.find("#Distinction").val();
                var season = $form.find("#Season").val();
                var presentationPrices = [];
                var url = "@Url.Action("Add")";

                if ($action == "Edit") {
                    url = "@Url.Action("Edit")";
                }

                $modal.find('.presentation-check:checkbox:checked').each(function (key, value) {
                    var presentationId = $(this).val();
                    if ($(this).is(':checked')) {
                        var price = $modal.find('.price-' + presentationId).val();
                        var priceUsd = $modal.find('.priceUsd-' + presentationId).val();
                        var weight = $modal.find('.weight-' + presentationId).val();
                        presentationPrices.push({
                            presentationId : presentationId,
                            price : price,
                            priceUsd: priceUsd,
                            weight: weight
                        });
                    }
                });

                if (presentationPrices.length > 0) {
                    $.post(url, {id:id, name: name, distinction: distinction, season: season, presentationPricesAdd: presentationPrices },
                        function (res) {
                            monoloading("hide");
                            if (res.status == 'ok') {
                                $modal.modal("hide");
                                //document.getElementsByClassName('datatable')[0].ej2_instances[0].refresh();
                                window.location.reload();
                                monotoast(res.body);
                            } else {
                                monotoast(res.body);
                            }
                        });
                } else {
                    monoloading("hide");
                    $modal.find(".modal-errors").html("Es necesario agregar por lo menos una presentación");
                }
                return false;
            });

        $modal.on('click', '.radio-distinction', function () {
            if ($(this).is(':checked')) {
                var value = $(this).val();
                $('#Distinction').val(value);
                if (value == '@Distinction.Season.ToString()') {
                    $('.input-season').removeClass('d-none');
                }else {
                $('.input-season').addClass('d-none');
                }
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            // Función para refrescar el grid
            function refreshGrid() {
                var gridElement = document.getElementById('Grid');
                if (gridElement && gridElement.ej2_instances && gridElement.ej2_instances[0]) {
                    var grid = gridElement.ej2_instances[0];
                    console.log('Refrescando grid...');
                    grid.refresh();
                } else {
                    console.log('Grid no encontrado, intentando nuevamente en 500ms');
                    setTimeout(refreshGrid, 500);
                }
            }

            // Refrescar el grid cuando la página carga
            setTimeout(refreshGrid, 1000);

            // Cuando cambia la URL (por las pestañas), refrescar el grid
            var lastUrl = window.location.href;
            setInterval(function() {
                var currentUrl = window.location.href;
                if (currentUrl !== lastUrl) {
                    lastUrl = currentUrl;
                    console.log('URL cambió a:', currentUrl);
                    setTimeout(refreshGrid, 500);
                }
            }, 500);
        });
    </script>
    <script>
                $(document).on('submit', '#form-restore-product', function (e) {
            e.preventDefault();
            monoloading("show");

            var $form = $(this);
            var url = "@Url.Action("Restore")";
            var id = $form.find("#Id").val(); // El modal debe tener un hidden input con el Id

            $.post(url, { id: id }, function (res) {
                monoloading("hide");
                if (res.status == 'ok') {
                    $('#restoreModal').modal("hide");
                    monotoast(res.body);

                    // Esperamos un segundo y recargamos para que el producto
                    // desaparezca de "Desactivados" y vuelva a su pestaña original
                    setTimeout(function() {
                        window.location.reload();
                    }, 1000);
                } else {
                    monotoast(res.body);
                }
            });
        });
    </script>
}